<div class="section-edit-container">
  <div class="section-edit-header d-flex align-items-center">
    <i class="bi bi-journal-plus ms-3 me-2 fs-3"></i>
    <h3>Creating Section</h3>
  </div>

  <%= render "form", section: @section %>

  <br>

  <div>
    <%= link_to "Back to Sections", sections_path, class: "btn-custom back-btn" %>
  </div>
</div>
