<% content_for :title, "New Teacher" %>

<div class="teacher-edit-container">
  <div class="teacher-edit-header d-flex align-items-center">
    <i class="bi bi-person-plus-fill ms-3 me-2 fs-3"></i>
    <h1>Employing Teacher</h1>
  </div>

  <%= render "form", teacher: @teacher %>

  <br>

  <div>
    <%= link_to "Back to Teachers", teachers_path, class: "btn-custom back-btn" %>
  </div>
</div>
