.section-edit-header {
  background-color: #4b3b2b; 
  color: white;
  text-align: center;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 16px;             
}

.section-edit-header h1 {
  font-size: 2.9rem;
  font-weight: 400;
  margin: 0;
}

.section-edit-container .card {
  background-color: white;
  border: none;
  border-radius: 10px;
}

.section-edit-header i {
  color: white;            
}

.section-edit-header h3 {
  margin: 0;                 
  font-weight: 600;
  color: white;
}
