.btn-custom {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
}

/* Back button */
.back-btn {
  background-color: #6c757d;
}
.back-btn:hover {
  background-color: #5a6268;
  transform: translateY(-3px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  color: white !important;
}
