.btn-custom {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
}

/* Back button */
.back-btn {
  background-color: #6c757d;
}
.back-btn:hover {
  background-color: #5a6268;
  transform: translateY(-3px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  color: white !important;
}

/* TEACHERS TABLE HEADER STYLING */
.table thead tr th {
  background-color: #4b3b2a !important;
  color: white !important;
  text-align: left; 
}

.subject-table thead tr th {
  background-color: #4b3b2a !important;
  color: white !important;
  text-align: left;
}

.teacher-edit-header {
  background-color: #4b3b2b; 
  color: white;
  text-align: center;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.teacher-edit-header h1 {
  font-size: 2.9rem;
  font-weight: 400;
  margin: 0;
}

.teacher-edit-container .card {
  background-color: #fff8e7; 
  border: none;
  border-radius: 10px;
}

